.main .content {
  margin-left: 300px;
  transition: 0.2s;
}

.main .content .element {
  min-height: calc(100vh - 57.6px);
}

.main .content.visible {
  margin-left: 0px;
}

@media screen and (max-width:800px) {
  .main .content {
    margin-left: 0px;
  }
}